<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Teammap </title>
  </head>
  <body>
    <div id="app">
      <{{page}}-page></{{page}}-page>
    </div>
    <script src="static/build.js"></script> 
  </body>
</html>