<!DOCTYPE html>
<html lang="en">
<meta name="Description">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Sophia </title>
</head>
<body>
  <div id="root">
    <{{page}}-page></{{page}}-page>
  </div>
  <script src="static/build.js"></script> 
</body>